<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - PillPocket</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/order.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <h1>PillPocket</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="medications.html">Medications</a></li>
                <li><a href="order.html" class="active">Order</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="order-hero">
            <h2>Available Medications</h2>
            <p>Select the medications you need and place your order.</p>
        </section>
        <section id="medication-list" class="order-summary">
            <!--- Medication List dynamic-->
        </section>
    </main>
    <footer>
    <p>© 2025 PillPocket. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/order.js') }}"></script>
</body>
</html>